.card{border:0;border-radius:0;box-shadow:0 0 3px #ccc;margin-bottom:15px}.sidebar{background:#2c3e50;height:100vh}.sidebar nav .list-group .list-group-item{background:transparent;border:0;color:#fff}.sidebar nav .list-group .list-group-item[aria-expanded=true]{background:#34495e;border-bottom:1px solid #2c3e50}.sidebar nav .list-group .list-group-item:hover{background:#34495e;text-decoration:none}.sidebar nav .list-group .list-group-submenu{background:#34495e}.sidebar nav .list-group .list-group-submenu .list-group-item .fa-bars{margin-right:10px}#root main{background:#ecf0f1}#root main .row{margin-right:0}#root main .content{height:100vh;padding:15px;overflow:auto}.area{background:#fff;padding:15px;margin-bottom:15px}.area strong{display:block;margin-bottom:15px}html{font-size:16px;font-family:"Ubuntu";margin:0}
/*# sourceMappingURL=app.css.map */
