@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.list-group {
    margin-bottom: 30px;
    .list-group-item {
        border: 0;
        border-top: 1px solid $theme-color-3;
        border-left: 3px solid $white;
        border-radius: 0;
        padding: .75rem;
        &:first-child {
            border-top: 0;
        }
        &:hover {
            @include option("border-left", "3px solid");
        }
    }
}

.fa {
    &:hover {
        cursor: pointer;
    }
}

.btn {
    background: $theme-color-1;
    border: 0;
    border-radius: 0;
    margin-left: 5px;
    span {
        margin-left: 10px;
    }
    &.add,
    &.save,
    &.check,
    &.update {
        background: $theme-color-4;   
    }
    &.delete,
    &.exclamation,
    &.cancel {
        background: $red;
    }
    &.spinner {
        background: $spinner;
        .fa {
            animation: rotation 2s infinite linear;
        }
    }
}

.modal-dialog {
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    .modal-content {
        border-radius: 0;
    }
}

.ReactModal__Overlay {
    background: rgba($theme-color-2, 0.5) !important;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    .ReactModal__Content {
        background: $white;
        bottom: inherit !important;
        height: auto;
        left: inherit !important;
        right: inherit !important;
        padding: 20px;
        position: relative !important;
        top: inherit !important;
        transition: opacity 1s;
        opacity: 0;
        &.ReactModal__Content--after-open {
            opacity: 1;
            &:focus {
                outline: 0;
            }
        }
        &.modal-small {
            width: 25%;
        }
        &.modal-middle {
            width: 50%;
        }
        &.modal-large {
            width: 75%;
        }
        @media screen and (max-width: $screen-md) {
            margin: 40px;
            width: 100%;
        }
    }
}