#root {
    main {
        background: $theme-color-3;
        .row {
            margin-right: 0;
        }
        .content {
            height: 100vh;
            padding: 15px;
            overflow: auto;
        }
    }
}

.area {
    background: $white;
    padding: 15px;
    margin-bottom: 15px;
    strong {
        display: block;
        margin-bottom: 15px;
    }
}
.info {
    label {
        margin-bottom: 0;
        margin-right: 5px;
    }
}

.container {
    background: $white;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}