/* open-sans-condensed-300 - latin */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('./font/open-sans-condensed-v14-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
         url('./font/open-sans-condensed-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./font/open-sans-condensed-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./font/open-sans-condensed-v14-latin-300.woff') format('woff'), /* Modern Browsers */
         url('./font/open-sans-condensed-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./font/open-sans-condensed-v14-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
  }
  /* open-sans-condensed-700 - latin */
  @font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('./font/open-sans-condensed-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
         url('./font/open-sans-condensed-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./font/open-sans-condensed-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./font/open-sans-condensed-v14-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./font/open-sans-condensed-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./font/open-sans-condensed-v14-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
  }