form {
    margin-bottom: 0;

    .form-control {
        border-radius: 0;
        border: 1px solid $theme-color-3;
    }

    input[type="checkbox"].form-control {
        width: auto;
    }

    textarea {
        min-height: 125px;
    }
}