@mixin option($tag, $attr) {
    $areas: (
        webdesign: $webdesign,
        grafik: $grafik,
        system: $system,
        schulung: $schulung,
        sonstiges: $sonstiges,
        scforum: $scforum
    );

    @each $area, $color in $areas {
        &.#{$area} {
            #{$tag}: #{$attr} $color;
        }
    }
}