nav {
    .list-group {
        .list-group-item {
            background: transparent;
            border: 0;
            color: $white;
            &[aria-expanded=true] {
                background: $theme-color-2;
                border-bottom: 1px solid $theme-color-1;
            }
            &:hover {
                background: $theme-color-2;
                text-decoration: none;
            }
        }
        .list-group-submenu {
            background: $theme-color-2;
            .list-group-item {
                .fa {
                    margin-right: 10px;
                }
            }
        }
    }
}