$font-family: "Open Sans Condensed";
$font-awesome: "Font Awesome 5 Free";

$font-size: 16px;

$font-wight-regular: 300;
$font-weight-bold: 700;

$white: #fff;
$black: #000;

$grey: #2c3e50;
$green: #2ecc71;
$light-grey: #34495e;
$light-brown: #ecf0f1;
$yellow: #f1c40f;
$red: #c0392b;

$theme-color-1: $grey;
$theme-color-2: $light-grey;
$theme-color-3: $light-brown;
$theme-color-4: $green;
$theme-color-5: $yellow;

$spinner: $theme-color-5;

$webdesign: #e67e22;
$grafik: #16a085;
$system: #2980b9;
$sonstiges: #7f8c8d;
$schulung: #f1c40f;
$scforum: #8e44ad;

$screen-xl: 1920px;
$screen-lg: 1360px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 576px;