@import "variables";
@import "font";
@import "mixin";
@import "bootstrap_overwrite";
@import "sidebar";
@import "content";
@import "form";

html {
    margin: 0;
}

body {
    font-size: $font-size;
    font-family: $font-family;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
    margin: 0 0 15px 15px;
}
